version: "3.8"
services:
  api:
    build: ./api
    container_name: api_c
    ports:
      - '5000:4000'
    volumes:
      - ./api:/app
      - /app/node_modules
  blog:
    build: ./blog
    container_name: blog_c
    ports:
      - '3000:3000'
    stdin_open: true
    tty: true